<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="OpenTK_flat" stopProcessing="true">
                    <match url="programmingOpenTK(index|\d\d-\d\d)\.php" />
                    <action type="Rewrite" url="./OpenTK.php?url={R:1}" appendQueryString="false" />
                </rule>
                <rule name="OpenTK_deep" stopProcessing="true">
                    <match url="programming/CSharp/OpenTK(index|\d\d-\d\d)\.php" />
                    <action type="Rewrite" url="./OpenTK.php?url={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
