@CHARSET "UTF-8";

body{
	text-align:center;
	background-color:Snow;
	font-family:Meiryo,Hiragino Kaku Gothic Pro,sans-serif;
}

#wrap{
	text-align:left;
	width:1200px;
	margin:0px auto;
	padding:10px;
	background-color:NavajoWhite;
}

header{
	padding:12px;
	padding-left:27px;
	background-color:YellowGreen;
}

#bar{
	float:right;
	width:270px;
	padding:12px;
	margin:10px 0px 10px 5px;
	background-color:LightCyan;
	font-size:16px;
}

#main{
	float:left;
	width:870px;
	padding:12px;
	margin:10px 5px 10px 0px;
	background-color:LemonChiffon;
	font-size:18px;
}

footer{
	clear:both;
	background-color:PowderBlue;
	padding:6px;
	text-align:center;
}

header h1{
	color:GreenYellow;
	font-family:Verdana;
	font-size:40px;
}

#main h2{
	background-color:PaleTurquoise;
	color:Black;
	margin:0px;
	padding:10px;
}

#main h3{
	background-color:Silver;
	padding:7px;
	margin-left:1em;
}

#main p,ul,ol{
	margin-left:2em;
}

#main dl.listLike{
	margin-left:2em;
}

#main dl.listLike dt{
	display:list-item;
	list-style-type:disc;
	margin-left:1em;
}

#main dl.functions{
	margin-left:2em;
	background-color:LightSkyBlue;
	padding:8px;
}

#main dl.enums{
	margin-left:2em;
	background-color:PaleGreen;
	padding:5px;
}

#main dl.enums dt:before{
	content:"\02727";
}

#main img{
	/*deleted*/
}

#main div.segment:not(:last-of-type){
	margin-bottom:3em;
}

#bar h4{
	background-color:SkyBlue;
	margin:0px;
	margin-top:20px;
	padding:2px;
}

#bar ul{
	margin:0px;
	padding:0px;
}

#bar li{
	list-style-type:none;
}

#bar li.expander{
	margin-top:2px;
	padding:2px;
}

#bar li.expander input{
	display:none;
}

#bar li.expander label{
	cursor:pointer;
	color:LightSeaGreen;
}

#bar li.expander input+label:before{
	color:RoyalBlue;
	content:"\025b6";
}

#bar li.expander input:checked+label:before{
	color:RoyalBlue;
	content:"▽";
}

#bar li.expander input~ul{
	display:none;
}

#bar li.expander input:checked~ul{
	display:inline;
}

#bar li.expander label+ul>li>a{
	margin-left:1em;
}

#bar a{
	color:DeepSkyBlue;
	text-decoration:none;
	font-size:14.5px;
}

#bar a:hover{
	color:Navy;
}

#main ol.index{
	background-color:White;
	padding-top:13px;
	padding-bottom:13px;
	color:SeaGreen;
}

#main ol.index a{
	text-decoration:none;
	color:DarkOliveGreen;
}

#main ol.index a:hover{
	color:black;
}

.syntaxhighlighter {
  /*deleted*/
}